body{
	min-width:320px;
}

.wrap{
	margin: 0;
	padding: 0;
	height: auto;
}

.wrapInner{
	display: block;
	margin: 0 auto;
	padding-left: 18px;
	max-width: 1027px;
	width: 100%;
}

.clearfix:before,
.clearfix:after{
	content: "";
	display:block;
	clear : both;
}

.tcenter{
	text-align: center;
}

header{
	display: block;
	position: relative;
	height: auto;

	div.privacyHead,
	div.indexyHead{
		display: block;
		padding-top: 22px;
	}

	div.privacyHead{
		background: $backgroundDefault url(/images/BGprivacy.png) no-repeat 1px -19px;
		background-size : cover;
	}

	div.indexHead{
		background: $backgroundDefault url('/images/Headbackground.png') no-repeat bottom center;
		background-size : cover;
	}

	.topHead{
		.logo{
			display: inline-block;
		}
		.social{
			display: inline-block;
   			margin: 17px 2px 0 0 ;
			float: right;
			list-style: none;

			li{
				display: inline-block;
				position:relative;

				&:first-child{
					margin-right: 11px;
				}

				&:nth-child(2){
					margin-right: 12px;
				}


			}
		}
	}

	.bannerArea{
		position: relative;
		padding: 0!important;
		

		h2{
				margin-bottom: 28px;
				font-size: 27.4px!important;
				font-family: $familyHead;
				color : $fontLight!important;
		}

		.desc{
			display: inline-block;
			position: relative;
			margin-top: 68px;
			max-width: 502px;
			width: 100%;
			float: left;

			p{
				font-size: $fontDefault;
				font-family: $familyDefault;
				color : $fontLight!important;
				letter-spacing: 1px;
    			line-height: 1.62;
			}

			.headBtn{
				display: inline-block;
			    position: relative;
			    list-style: none;
			    margin-top: 41px;
			    margin-bottom: 15px;	
			    float: left;
			    padding: 0;

				li{
					display: inline-block;
					float: left;

					&:not(:last-child){
						margin-right: 12px;
					}
				}
			}

			.minitext{
				margin-bottom: 32px;
				color : $fontLight!important;
				font-size: $fontsmall!important;
				letter-spacing: 0.5px!important;
			}
		}

		.phones{
			display: inline-block!important;
			position: relative;
			left: 47px;
			max-width: 461px;
			margin-top: 44px;
			p{
				display: inline-block;
				position: absolute;
				float: left;
			}

			p:first-child{
				margin-top: 36px;
    			left: 16px;
    			animation-delay: 1s;
    			-webkit-animation-delay: 1s;
    			-moz-animation-delay: 1s;
			}

			p:last-child{
				left: 174px;
				animation-delay: 0.5s;
				-webkit-animation-delay: 0.5s;
				-moz-animation-delay: 0.5s;
			}
		}

		@media only screen and (max-width : 1100px) {
			padding: 0 20px 0 20px!important;

			.desc{max-width: 480px;}
		}

		@media only screen and (max-width : 990px) {
			padding: 0 20px 0 20px!important;

			.desc{
					margin-top: 0;
					max-width: 432px;
					min-width: 32px;
					width: 38%;

					.headBtn{

						li{
							float: left;

							&:not(:last-child){
								margin-bottom: 12px;
							}
						}
					}

					.minitext{
						margin-bottom: 9px;
					}
			}

			.phones{
				    position: absolute;
				    bottom: 0;
				    right: 228px;
				    left: auto!important;
				p{
					margin-bottom: 0;
				}
				p.dark{position:relative}
				p.light{position:absolute}
			}
		}

		@media only screen and (max-width : 766px) {

    			.desc{
					display: block!important;
					max-width: 766px;
					width: 100%;

					.headBtn{
						margin: 0 auto;
					}

					.minitext{
						margin-bottom: 268px;
						float: left;
					}
				}

				.phones{
					position: absolute;
				    bottom: 0;
				    right: 228px;
				    left: auto!important;

					p.dark{
						img{
							width:50%;
						}
					}

					p.light{
						bottom: 0;
						img{
							width:100%;
						}
					}

					p:first-child{
						margin-top: 36px;
					    left: 16px;
					    top: 0px;
					}

					p:last-child{
						left: 107px;
					}
				}
		}

		@media only screen and (max-width : 512px) {
				.desc{
					margin-top: 0;
					max-width: 432px;
					min-width: 32px;
					width: 100%;
						div{
							display: block;
							text-align: center;
							.headBtn{
								display: inline-block;
								li{
									display: block;
									width: 100%;

									&:not(:last-child){
										margin-bottom: 12px;
									}
								}
							}
						}

						.minitext{
							margin-top: 10%;
							margin-bottom: 100%;
						}
				}

				.phones{
					position: absolute;
				    bottom: 0;
				    right: 10%;
				    left: auto!important;

					p:first-child{
						margin-top: 36px;
					    left: 30px;
					    top: 0px;
					    img{
							width:50%;
						}
					}

					p:last-child{
						left: 35%;
						bottom: 0;
						img{
							width: 90%;
						}
					}
				}
		}
	}
	
}

main{
	display: block;

	.sectionBlockA{
		display: block;
		padding-bottom: 86px;

		.features{
			overflow: hidden;
			display: block;
			position: relative;
			padding-top: 80px;
			padding-left: 117px;
    		padding-right: 117px;
			width: 100%;
			list-style: none;
			.featureItems{
				display: inline-block;
				padding: 0;
				width: 25%;
				text-align: center;
				float: left;

				img{
					display: inline-block;
				}

				h3{
					line-height: 20px;
					font-size: 20px !important;
					font-family: $familyHead;
					color: $fontGreen ;
					letter-spacing: 1px;
				}

				p{
					text-align: left;
					font-size: $fontDefault;
				}

				&:first-child{
					padding-left: 28px;
					img{
					    margin-right: 26px;
					}

					h3{
					    margin: 28px 28px 0 0;
					}

					p{
						margin-top: 25px;
    					line-height: 1.5;
					}
				}

				&:nth-child(2){
					padding-left: 44px;
					img{
					    margin: 27px 47px 0 0;
					}

					h3{
						margin: 28px 52px 0 0;
					}

					p{
						margin-top: 26px;
					}
				}

				&:nth-child(3){
					padding-left: 43px;
					img{
					    margin: 37px 61px 0 0;
					}

					h3{
						margin: 39px 59px 0 0;;
					}

					p{
						margin-top: 25px;
					}
				}

				&:last-child{
					padding-left: 46px;
					img{
					    margin: 33px 51px 0 0;
					}

					h3{
					    margin: 28px 46px 0 0;
					}

					p{
						margin-top: 25px;
					}
				}

				@media only screen and (max-width : 990px) {
					display: inline-block;
					width: 48%;
					float: left;
					height: 300px;
				}

				@media only screen and (max-width : 767px) {
					display: block;
					width: 100%;
				}

				@media only screen and (max-width : 512px) {
					height: auto;
					max-height: 400px;
					&:not(:last-child){
						margin-bottom: 45px;
					}
				}
			}

			@media only screen and (max-width : 990px) {
				padding-left: 0;
    			padding-right: 0;
			}
		}
	}

	.sectionBlockB{
		display: block;
		padding: 54px 0 56px 0;
		background-color: #2a3a41;
		box-sizing: border-box;
    	-moz-box-sizing: border-box;

		.vidContainer{
			position: relative;
			display: table;
			max-width: 1015px;
			max-height: 564px;
			width: 100%;
			height: 564px;
			margin: 0 auto;
			box-sizing: border-box;
    		-moz-box-sizing: border-box;

    		@media only screen and (max-width : 512px) {
				height: 100%;
			}

			iframe{
				width: 100%;
				height: 564px;
				box-sizing: border-box;
    			-moz-box-sizing: border-box;

    			@media only screen and (max-width : 512px) {
					height: 100%;
				}
			}
		}
	}

	.sectionBlockC{
		display: block;
		padding-top: 43px;
		padding-bottom: 56px;
		background-color: #eaf3e3;
		text-align: center;

		h2{
			margin: 20px 0 0 3px;
			font-size: 27.4px!important;
			font-family: $familyHead;
			color: #213d4c;
		}

		p{
			max-width: 790px;
			width: 100%;
    		margin: 0 auto;
    		padding-top: 20px;
			font-size: 20px;
			font-family: $familyDefault;
		}
	}

	.sectionBlockD{
		display: block;
		padding-top: 20px;
		padding-bottom: 40px;
		background-color: #fff;
		text-align: center;

		h2{
			margin: 20px 0 0 3px;
			font-size: 27.4px!important;
			font-family: $familyHead;
			color: #213d4c;
		}

		p{
    		margin: 0 auto;
    		padding-top: 10px;
			font-size: 18px;
			font-family: $familyDefault;
		}

		div{
			display: inline-block;
			margin-top: 22px;
			img{
				float: left;
				&:first-child{
					margin-right: 10px;
				}
			}
		}
	}

	.sectionBlockE{
		display: block;
		padding-top: 43px;
		padding-bottom: 50px;
		background-color: #eaf3e3;
		text-align: center;

		h2{
			margin: 20px 0 0 3px;
			font-size: 27.4px!important;
			font-family: $familyHead;
			color: #213d4c;
		}

		p{
			max-width: 790px;
			width: 100%;
    		margin: 0 auto;
    		padding-top: 20px;
    		font-size: 18px;
			font-family: $familyDefault;
		}

		a{
			color: #7bbf43;
		}
	}
}

.privacyBanner{
	display: block;
	text-align: center;
	margin-bottom: 64px;

	img{
		&:first-child{
			margin-right: 12px;
		}
	}
}

.privacyContent{
	font-family: $familyDefault;
	padding: 75px 0 130px 0;
	div{
		margin-bottom: 40px;
		h1,h2{
			font-weight: bold;
			color: #7bbf43;
		}

		h1{
			font-size: 20px;
		}

		h2,p{
			font-size: 16px;
		}

		p{
			margin-top: 30px;
		}
	}
}

footer{
	padding: 24px 0 43px 0;
	background-color: $backgroundDefault;
	color: $fontLight;

	a{
		color: $fontLight;
		float: right;
	}
	p{
		padding: 0;
		margin: 0 0 3px;
		float: left;
		a{
			color: $fontLight;
		}

		a.siteLink{
			font-size: 19px;
		}
	}
}