// Colors

$backgroundDefault : #84c44e;
$fontLight : #fff;
$fontDark: ' #213d44';
$fontGreen : #84c44e;

// Fonts
$fontDefault : 16px;
$fontsmall : 14px;
$familyDefault : 'Open Sans', sans-serif;
$familyHead : 'Montserrat', sans-serif;
